<%- include('../../layouts/header.ejs') %>
    <div class="row">
        <div class="col-md-4">    
            <div class="card">
                <div class="card-header">
                    <div class="float-left">    
                        <h5 class="card-title">
                            <%= user.name %>
                        </h5>
                    </div>

                    <div class="float-right">
                        <a href="/users" class="btn btn-sm btn-secondary text-light">
                            Back
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <p><%= user.username %></p>
                </div>

                <div class="card-footer">
                    <%= new Date(user.createdAt).getFullYear() %>
                </div>
            </div>    
        </div>
    </div>
<%- include('../../layouts/footer.ejs') %>